*,
::after,
::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #5183b5;
    color: white;
}

::-moz-selection {
    background-color: #5183b5;
    color: white;
}

body {
    font-family: "Lato", Calibri, Arial, sans-serif;
    background: linear-gradient(0deg, rgba(81, 131, 181, 1) 10%, #f3f1f1 50%, rgba(81, 131, 181, 1) 90%);
    font-size: 16px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
}